.about-section-wrapper {
  max-width: 550px;
  font-size: 12px;
}
.header-number {
  color: #71a4d6;
}
.section-divider {
  border: 1px solid #ccd6f6; /* Adjust the color as needed */
  max-width: 100%;
}
.about-section-wrapper h1 {
  color: #ccd6f6;
}
.about-section-text {
  color: #5e6a85;
}
.about-section-text__highlight {
  color: #71a4d6;
}
.about-section-text__emphasis {
  color: #71a4d6;
  text-decoration: underline;
}
.about-section-text__lists {
  display: flex;
  justify-content: flex-start;
}
.about-section-text ul {
  list-style-type: none;
  padding: 0;
  margin-right: 50px;
}
/* Responsive styles */
@media (max-width: 600px) {
  .about-section-wrapper {
    text-align: center; /* Center-aligned content for mobile */
    font-size: 0.8em; /* Make the text smaller */
  }

  .about-section-text__lists {
    flex-direction: column; /* Stack the lists vertically */
    align-items: center; /* Center the lists */
    text-align: center;
  }

  .about-section-text ul {
    margin-right: 0; /* Remove the right margin */
  }
}
