.nav-bar {
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #ccd6f6; /* default color */
}

li {
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}

li.active {
  background-color: rgba(113, 164, 214, 0.1);
  border-radius: 15px;
}

.nav-bar__list {
  margin-left: 20px;
  color: #ccd6f6;
}
.nav-bar__list-header {
  color: #71a4d6;
}
.nav-bar__list-date {
  color: #5e6a85;
}
.nav-bar__list-accomplishments {
  color: #ccd6f6;
  list-style-type: disc;
}

@media (max-width: 600px) {
  .nav-bar__options li {
    font-size: 0.75em; /* Make the text smaller */
  }
  .nav-bar__list-header,
  .nav-bar__list {
    font-size: 0.8em; /* Make the text smaller */
  }
  ul,
  li {
    max-width: 270px;
    border-radius: 15px;
    font-size: 1em; /* Make the text smaller */
    text-align: left; /* Align text to the left */
    word-wrap: break-word; /* Break the word at the end of the line */
  }
}
