.header-number {
  color: #71a4d6;
}
h1 {
  color: #ccd6f6;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 75px;
}
.folder-icon {
  height: 16px; /* Adjust as needed */
  width: 16px; /* Adjust as needed */
  color: #71a4d6;
}
