.contact-section-wrapper {
  max-width: 550px;
}
.header-number {
  color: #71a4d6;
}
h1 {
  color: #ccd6f6;
}
.center-text {
  text-align: center;
}

.linkedin-link {
  color: #71a4d6 !important;
  text-decoration: none;
}

.linkedin-link:hover {
  text-decoration: underline;
}
.contact-text {
  color: #5e6a85;
}
